.about {
  margin-bottom: 120px;

  h2 {
    margin: 0;
    margin-bottom: 15px;
    font-family: $ff-roboto-condensed;
    font-weight: 400;
    font-size: 36px;
    line-height: 51px;
  }

  p {
    margin: 0;
    margin-bottom: 20px;
  }
}

.about__hidden-text--all {
  display: none;
}

.about__btn {
  min-width: 180px;
  margin-top: 18px;
  margin-bottom: 0;

  &[data-is-open="true"] {
    .about__btn-more {
      display: none;
    }

    .about__btn-hide {
      display: inline;
    }
  }

  &[data-is-open="false"] {
    .about__btn-more {
      display: inline;
    }

    .about__btn-hide {
      display: none;
    }
  }
}

.about__wrapper {
  padding-left: 249px;
  position: relative;
}

.about__box--decoration {
  width: 320px;
  height: 200px;

  transform-origin: 50% 90%;
  transform: rotate(-90deg);
  position: absolute;
  top: -18px;
  left: 0;
}

.about__decoration {
  font-family: $ff-roboto-condensed;
  font-weight: 700;
  font-size: 156px;
  line-height: 220px;

  color: transparent;
  background-image: url("../img/back/scheme.jpg");
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center;
  background-clip: text;

  @include retina {
    background-image: url("../img/back/scheme@2x.jpg");
    background-size: 320px auto;
  }
}


@include vp-1439 {
  .about__wrapper {
    padding-left: 200px;
  }
}

@include vp-1023 {
  .about {
    margin-bottom: 77px;

    h2 {
      margin-bottom: 10px;
    }

    p {
      margin-bottom: 20px;
    }
  }

  .about__btn {
    margin-top: 0;
  }

  .about__wrapper {
    padding-left: 175px;
  }

  .about__box--decoration {
    left: -5px;
  }
}

@include vp-767 {
  .about {
    margin-bottom: 80px;

    h2 {
      margin-bottom: 12px;
      font-size: 28px;
      line-height: 39px;
    }

    p {
      margin-bottom: 19px;
      font-size: 14px;
      line-height: 19px;
    }
  }

  .about__hidden-text--mobile {
    display: none;
  }

  .about__btn {
    margin-top: -5px;
    min-width: 160px;
  }

  .about__wrapper {
    padding-left: 0;
  }

  .about__box--decoration {
    display: none;
  }
}
