.btn {
  display: inline-block;
  padding: 10px 15px;
  margin: 10px 0;
  cursor: pointer;
  user-select: none;

  border: 1px solid $color-deepsky-blue;
  border-radius: 3px;

  font-family: 'Roboto Condensed';
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.05em;
  text-align: center;
  text-transform: uppercase;
  color: $color-deepsky-blue;
  background-color: $color-transparent;

  &--transparent-light {
    border-color: $color-alice-blue;
    color: $color-alice-blue;

    @media (hover: hover), screen and (min-width: 0\0) {
      &:hover,
      &:focus {
        border-color: darken($color-alice-blue, 20%);
        color: darken($color-alice-blue, 20%);
      }
    }

    &:active {
      border-color: darken($color-alice-blue, 20%);
      color: darken($color-alice-blue, 20%);
    }
  }

  &--blue-light {
    font-size: 18px;
    line-height: 21px;
    border-color: $color-deepsky-blue;
    color: $color-alice-blue;
    background-color: $color-deepsky-blue;

    @media (hover: hover), screen and (min-width: 0\0) {
      &:hover,
      &:focus {
        border-color: darken($color-deepsky-blue, 20%);
        background-color: darken($color-deepsky-blue, 20%);
      }
    }

    &:active {
      border-color: darken($color-deepsky-blue, 20%);
      background-color: darken($color-deepsky-blue, 20%);
    }
  }

  &--transparent-blue {
    @media (hover: hover), screen and (min-width: 0\0) {
      &:hover,
      &:focus {
        border-color: darken($color-deepsky-blue, 20%);
        color: darken($color-deepsky-blue, 20%);
      }
    }

    &:active {
      border-color: darken($color-deepsky-blue, 20%);
      color: darken($color-deepsky-blue, 20%);
    }
  }

  &--dark-light {
    font-size: 16px;
    line-height: 19px;
    border-color: $color-black-pearl;
    color: $color-white;
    background-color: $color-black-pearl;

    @media (hover: hover), screen and (min-width: 0\0) {
      &:hover,
      &:focus {
        border-color: lighten($color-black-pearl, 20%);
        background-color: lighten($color-black-pearl, 20%);
      }
    }

    &:active {
      border-color: lighten($color-black-pearl, 20%);
      background-color: lighten($color-black-pearl, 20%);
    }
  }

  &:disabled {
    opacity: 0.5;
    pointer-events: none;
  }
}
