.feedback {
  background-color: $color-deepsky-blue;
  color: $color-white;
  position: relative;
  padding-top: 165px;
  padding-bottom: 250px;

  h2 {
    font-family: $ff-roboto-condensed;
    font-weight: 400;
    font-size: 36px;
    line-height: 51px;
    margin-top: 0;
    margin-left: -5px;
    margin-bottom: 13px;
  }

  p {
    margin-top: 0;
    margin-bottom: 35px;
  }

  &::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: $color-black-pearl-transparent-50;
    clip-path: polygon(50.5% 0, 0% 100%, 0 0);
  }
}

.feedback__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.feedback__box--decoration {
  width: 100%;
}

.feedback__decoration {
  width: 83.6%;
  padding-top: 46.76%;
  position: relative;
  z-index: 1;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transform: translateY(28%);

    background-image: url("../img/back/paper_airplane.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;

    @include retina {
      background-image: url("../img/back/paper_airplane@2x.png");
    }
  }
}

.feedback__box--form {
  padding-left: 20px;
  padding-right: 10px;
}

@include vp-1023 {
  .feedback {
    padding-top: 50px;
    padding-bottom: 125px;

    h2 {
      margin-left: 0;
      margin-bottom: 3px;
    }

    p {
      margin-bottom: 25px;
    }

    &::after {
      display: none;
    }
  }

  .feedback__wrapper {
    display: block;
  }

  .feedback__box--decoration {
    display: none;
  }

  .feedback__box--form {
    padding: 0;
  }
}

@include vp-767 {
  .feedback {
    padding-top: 48px;
    padding-bottom: 87px;

    h2 {
      font-size: 30px;
      line-height: 42px;
      margin-bottom: 5px;
    }

    p {
      font-size: 14px;
      line-height: 19px;
      margin-bottom: 35px;
    }
  }
}
