.form {
  background-color: $color-deepsky-blue;
  color: $color-alice-blue;

  label {
    font-size: 14px;
    line-height: 16px;
    color: $color-white;
    opacity: 0.8;
  }

  input[type="text"],
  input[type="tel"],
  textarea {
    width: 100%;
    padding: 14px 15px;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: $color-alice-blue;
    background-color: $color-black-pearl-transparent-15;
    border: none;
    border-radius: 3px;
    outline: none;

    &::placeholder {
      color: $color-white;
    }

    @media (hover: hover), screen and (min-width: 0\0) {
      &:hover,
      &:focus {
        outline: 2px solid $color-alice-blue;
      }
    }

    &:active {
      outline: 2px solid $color-alice-blue;
    }
  }

  textarea {
    min-height: 155px;
    padding-top: 23px;
  }

  input[type="checkbox"] {
    & + label {
      display: block;
      position: relative;
      padding-left: 25px;
      cursor: pointer;
      user-select: none;
    }

    & + label::before {
      content: "";
      position: absolute;
      top: 8px;
      left: 0;
      width: 15px;
      height: 15px;
      background-color: $color-transparent;
      background-image: none;
      border: 1px solid $color-white;
      border-radius: 2px;
    }

    &:checked + label::before {
      background-image: url("../img/svg/check.svg");
      background-position: center;
      background-repeat: no-repeat;
    }

    @media (hover: hover), screen and (min-width: 0\0) {
      & + label:hover::before,
      &:focus + label::before {
        background-color: $color-black-pearl-transparent-15;
      }
    }

    &:active + label::before {
      background-color: $color-black-pearl-transparent-15;
    }
  }

  button[type="submit"] {
    padding: 12px;
    margin: 0;
  }
}

.form__wrapper {
  display: grid;
  gap: 30px;
  grid-template-columns: 1fr 1fr;
}

.form__wrapper--top {
  margin-bottom: 20px;
}

.form__textarea {
  margin-bottom: 33px;
}

.form__checkbox {
  grid-row: 1 / -1;
  grid-column: 2 / 3;
  align-self: center;
  margin-left: 10px;
}

.form__submit {
  width: 265px;
  grid-row: 1 / -1;
  grid-column: 1 / 2;
  align-self: start;
}

@include vp-1023 {
  .form {
    textarea {
      padding-top: 29px;
    }

    input[type="checkbox"] {
      & + label::before {
        top: 0;
      }
    }
  }

  .form__checkbox {
    margin-left: 0;
  }
}

@include vp-767 {
  .form {
    input[type="text"],
    input[type="tel"] {
      margin-bottom: 20px;
    }

    textarea {
      min-height: 180px;
      padding-top: 23px;
    }

    button[type="submit"] {
      margin-bottom: 25px;
    }
  }

  .form__wrapper {
    display: block;
  }

  .form__wrapper--top {
    margin-bottom: 0;
  }

  .form__textarea {
    margin-bottom: 29px;
  }

  .form__wrapper--bottom {
    display: flex;
    flex-direction: column-reverse;
    gap: initial;
  }

  .form__checkbox {
    margin-left: 5px;
  }

  .form__submit {
    width: 100%;
  }
}

.form--request-call {
  display: flex;
  flex-direction: column;

  input[type="text"],
  input[type="tel"] {
    margin-bottom: 20px;
  }

  textarea {
    margin-bottom: 25px;
  }

  input[type="checkbox"] {
    & + label::before {
      top: -2px;
      left: -6px;
    }
  }

  .form__box {
    order: 1;
    align-self: center;
  }

  button[type="submit"] {
    width: 100%;
    margin-bottom: 23px;
  }
}
