.main-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main-nav__logo-link {
  flex-shrink: 0;
  margin-right: 10px;
}

.main-nav__box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  min-width: 38.7%;
  margin-right: -15px;
}

.main-nav__contact {
  display: flex;
  color: $color-alice-blue;
  margin-right: 15px;

  .main-nav__icon {
    margin-right: 15px;
    color: $color-deepsky-blue;
  }

  @media (hover: hover), screen and (min-width: 0\0) {
    &:hover,
    &:focus {
      color: $color-deepsky-blue;

      .main-nav__icon {
        color: $color-alice-blue;
      }
    }
  }

  &:active {
    color: $color-deepsky-blue;

    .main-nav__icon {
      margin-right: 15px;
      color: $color-alice-blue;
    }
  }
}

.main-nav__request-call {
  flex-shrink: 0;
  margin: 0;
  margin-left: 10px;
  margin-right: 4.92%;
  margin-bottom: 5px;
}

@include vp-1439 {
  .main-nav__box {
    min-width: 45%;
  }
}

@include vp-1023 {
  .main-nav__box {
    min-width: auto;
    width: auto;
    margin-right: 0;
    margin-bottom: 15px;
  }

  .main-nav__contact {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;

    .main-nav__icon {
      margin-right: 0;
    }

    span {
      display: none;
    }
  }

  .main-nav__request-call {
    display: none;
  }
}

@include vp-767 {
  .main-nav {
    align-items: flex-start;
  }

  .main-nav__logo-link {
    margin-top: 5px;
  }

  .main-nav__box {
    margin-right: -10px;
    margin-bottom: 0;
  }
}
