.page-header {
  min-height: 120px;
  padding-top: 30px;
  padding-bottom: 35px;
  background-image: $black-pearl-header;
  color: $color-alice-blue;
  position: fixed;
  top: 0;
  z-index: 3;

  @include vp-1023 {
    min-height: 100px;
    padding-top: 20px;
    padding-bottom: 25px;
    position: absolute;
  }

  @include vp-767 {
    min-height: 70px;
    padding-top: 10px;
    padding-bottom: 20px;
  }
}
