.promo {
  background-color: $color-black-pearl;
  background-image: $black-pearl-promo, url("../img/back/promo-desktop.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: $color-alice-blue;
  padding-top: 305px;
  padding-bottom: 280px;
  margin-bottom: 120px;

  @include retina {
    background-image: $black-pearl-promo, url("../img/back/promo-desktop@2x.jpg");
  }

  .promo-wrapper {
    padding-left: 125px;
  }

  h2 {
    margin: 0;
    margin-bottom: 32px;
    font-family: $ff-roboto-condensed;
    font-weight: 700;
    font-size: 80px;
    line-height: 94px;
    letter-spacing: 0.07em;
    text-transform: uppercase;
  }

  p {
    margin: 0;
    margin-bottom: 47px;
    width: 680px;
    font-size: 22px;
    line-height: 34px;
  }

  .promo__question {
    margin: 0;

    span:last-child {
      display: none;
    }
  }
}

@include vp-1023 {
  .promo {
    background-image: $black-pearl-promo, url("../img/back/promo-tablet.jpg");
    background-position-x: 0, 20%;
    padding-top: 180px;
    padding-bottom: 207px;
    margin-bottom: 80px;

    @include retina {
      background-image: $black-pearl-promo, url("../img/back/promo-tablet@2x.jpg");
    }

    .promo-wrapper {
      padding-left: 0;
    }

    h2 {
      margin-bottom: 0;
      font-size: 64px;
      line-height: 75px;
    }

    p {
      margin-bottom: 57px;
      width: auto;
    }

    .promo__question {
      margin-left: 45px;
    }
  }
}

@include vp-767 {
  .promo {
    background-image: $black-pearl-promo, url("../img/back/promo-mobile.jpg");
    background-position-x: 0, 25%;
    padding-top: 150px;
    padding-bottom: 192px;
    margin-bottom: 50px;

    @include retina {
      background-image: $black-pearl-promo, url("../img/back/promo-mobile@2x.jpg");
    }

    h2 {
      font-size: 36px;
      line-height: 42px;
      margin-bottom: 7px;
    }

    p {
      font-size: 14px;
      line-height: 22px;
      margin-bottom: 45px;
    }

    .promo__question {
      width: 100%;
      margin-left: 0;

      span:first-child {
        display: none;
      }

      span:last-child {
        display: inline;
      }
    }
  }
}
