.social-list {
  padding: 0;
  list-style: none;
  color: $color-alice-blue;
  min-width: 150px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.social-list__item {
  &:not(:last-child) {
    margin-right: 15px;
  }

  a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;

    @media (hover: hover), screen and (min-width: 0\0) {
      &:hover,
      &:focus {
        color: $color-deepsky-blue;
      }
    }

    &:active {
      color: $color-deepsky-blue;
    }
  }
}
